@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tez UI görünümü */
:root {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial, "Apple Color Emoji",
    "Segoe UI Emoji";
  background: #020617;
  /* slate-950 */
  color: #e2e8f0;
  /* slate-200 */
}